.banner_img_wrapper {
  height: 50vh;
  /* border: 1px solid black; */
}

.banner_text_wrapper {
  padding: 10px 10%;
  /* border: 1px solid black; */
}

.banner_container {
  /* border: 1px solid black; */
  height: 90vh;
  overflow-y: hidden;
}

.banner_scroll {
  height: calc(90vh - 70px);
  overflow-y: scroll;
  /* border: 1px solid black; */
}

.banner_footer {
  /* border: 1px solid black; */
  height: 10vh;
}
